@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* global */
*{
    padding: 0;
    margin: 0;
}
/* common */
.dark-one {
    color: #181818;
}

.dark-two {
    color: #474747;
}

.dark-three {
    color: #757575;
}

.bg-color{
    background-color: #FFF8F3;
}

.title{
    font-size: 35px;
    font-weight: bold;
    line-height: normal;
    font-family: "Open Sans";
}

.description{
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 30px;
}

.key{
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 30px;
}

.value{
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 700;
    line-height: 30px;
}

.btn-primary {
    border-radius: 5px;
    color: #fff;
    background-color: #fd6e0a;
    border: none;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}


/* header */
#header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 3% 30px, bottom right;
}

/* header nav */
.header-nav .nav-name {
    color: #181818;
    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header-nav .nav-name span {
    color: #fd6e0a;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 230px;
    padding: 50px 0 25px 0;
}

.header-nav ul li {
    list-style: none;
}

.header-nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "Open Sans";
}

/* header banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 230px;

}

.banner-content{
    max-width: 585px;
}

.banner-content .banner-greetings {
    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner-content .banner-title {
    font-family: "Open Sans";
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-content .banner-description {
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px
}

.fa-download, .fa-phone{
    margin-right: 5px;
}

.banner-content .banner-button{
    margin-right: 30px;
}

/* about us */
#about-us{
    margin-top: 130px;
    text-align: center;
    padding: 130px 150px;
}


.about-us-container{
    background-color: #FFF;
    padding: 15px;
    border: 1px solid #000;
    /* gap: 30px; */
}

.about-us-content .title{
    margin-bottom: 30px;
}

.about-us-items{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

/* what i do */

.what-i-do{
    margin: 130px 0;
}

.what-i-do-content{
    text-align: center;
}

.what-i-do-content .description{
    margin-top: 30px;
    margin-bottom: 50px;
}

.what-i-do-item .item-img{
    width: 44px;
    height: 44px;
}

.what-i-do-item .item-img img{
    width: 100%;
    height: 100%;
}